@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
body {
	display: flex;
	align-items: center;
	flex-direction: column;
}


.game {
	display: block;
	cursor: pointer;
	box-sizing: border-box;
	border: 3px solid black;
	&_block {
		box-sizing: border-box;
		height: 70px;
		width: 70px;
		float: left;
		border: 1px solid black;
		font-size: 70px;
		line-height: 65px;
		text-align: center;
		transition: linear .3s;
		&:hover {
			background: rgb(235, 228, 228);
		}
		svg {
			height: 100%;
			width: 100%;
		}
	}
}
.title-wrap {
	display: flex;
	h1 {}
	vertical-align: middle;
	svg {
		margin-top: -1px;
		vertical-align: middle;
		height: 30px;
		width: 30px;
	}
}
#reset {
	outline: 0;
	margin-top: 30px;
	background: #fff;
	border: 2px solid black;
	border-radius: 20px;
	padding: 10px 20px;
	font-weight: bold;
	cursor: pointer;
	transition: linear .3s;
	&:hover {
		background: rgb(235, 228, 228);
	}
}
#label {
	font-size: 25px;
	margin-top: 30px;
}
#select {
	outline: 0;
	font-size: 25px;
	cursor: pointer;
	border: 2px solid black;
	padding: 10px 20px;
	border-radius: 20px;
}

@import "media"; // Always at the end
